#encoding: utf-8

<% provide(:title, '关于')  %>
<section>
  <h2>关于UCDNews</h2>
  <p>UCDNews，主要是以周为单位分享一些国内外优秀的UCD相关文章，帮助各位成长。</p>
  <p>欢迎分享给身边热爱互联网的同学~如果有比较好的文章，也可以推荐给我，我的微博 <a href="http://weibo.com/huyipeng" target="_blank">太狼兄</a> ，不甚感激！</p>
</section>