#encoding: utf-8

<ul>
	<li class="newsitem">
		<span class="itemnum">1</span>
		<span class="itemcategory">产品市场</span>
		<a href="http://www.36kr.com/p/205335.html" class="itemtitle" target="_blank">产品经理的本职是什么？</a>
		<small class="itemauthor">· 36氪</small>
	</li>
	<li class="newsitem">
		<span class="itemnum">2</span>
		<span class="itemcategory">产品市场</span>
		<a href="" class="itemtitle" target="_blank">轮产品设计的作用</a>
		<small class="itemauthor">· 太狼</small>
	</li>
	<li class="newsitem">
		<span class="itemnum">3</span>
		<span class="itemcategory">产品市场</span>
		<a href="http://www.36kr.com/p/205335.html" class="itemtitle" target="_blank">产品经理的本职是什么？</a>
		<small class="itemauthor">· 36氪</small>
	</li>
	<li class="newsitem">
		<span class="itemnum">4</span>
		<span class="itemcategory">产品市场</span>
		<a href="" class="itemtitle" target="_blank">轮产品设计的作用</a>
		<small class="itemauthor">· 太狼</small>
	</li>
	<li class="newsitem">
		<span class="itemnum">5</span>
		<span class="itemcategory">产品市场</span>
		<a href="http://www.36kr.com/p/205335.html" class="itemtitle" target="_blank">产品经理的本职是什么？</a>
		<small class="itemauthor">· 36氪</small>
	</li>
	<li class="newsitem">
		<span class="itemnum">6</span>
		<span class="itemcategory">产品市场</span>
		<a href="" class="itemtitle" target="_blank">轮产品设计的作用</a>
		<small class="itemauthor">· 太狼</small>
	</li>
	<li class="newsitem">
		<span class="itemnum">7</span>
		<span class="itemcategory">产品市场</span>
		<a href="http://www.36kr.com/p/205335.html" class="itemtitle" target="_blank">产品经理的本职是什么？</a>
		<small class="itemauthor">· 36氪</small>
	</li>
	<li class="newsitem">
		<span class="itemnum">8</span>
		<span class="itemcategory">产品市场</span>
		<a href="" class="itemtitle" target="_blank">轮产品设计的作用</a>
		<small class="itemauthor">· 太狼</small>
	</li>
	<li class="newsitem">
		<span class="itemnum">9</span>
		<span class="itemcategory">产品市场</span>
		<a href="http://hoowolf.net" class="itemtitle" target="_blank">轮产品设计的作用</a>
		<small class="itemauthor">· 太狼</small>
	</li>
	<li class="newsitem">
		<span class="itemnum">10</span>
		<span class="itemcategory">产品市场</span>
		<a href="http://weibo.com" class="itemtitle" target="_blank">新浪微博的作用以及微信的反战带来的</a>
		<small class="itemauthor">· 太狼</small>
	</li>
</ul>
<nav class="pagenavi">
	<a href="">上一期</a>
	<span>33 / 33</span>
	<a href="">下一期</a>
</nav>
