<footer>
	<nav>
		<span>
			<%= link_to "关于", about_path %>
		</span>
		&nbsp;&nbsp;·&nbsp;&nbsp;
		<span>
			<a href="">反馈</a>
		</span>
	</nav>
	<div class="copyright">Copyright ©2013  UCDNews</div>
	<div class="me">
		Designed By&nbsp;&nbsp;
		<%= link_to "胡太狼", 'http://weibo.com/huyipeng', :target => "_blank"%>
	</div>
</footer>