<footer>
	<nav>
		<span>
			<%= link_to "关于", about_path %>
		</span>
		&nbsp;&nbsp;·&nbsp;&nbsp;
		<span>
			<%= link_to "反馈", 'http://weibo.com/huyipeng', :target => "_blank"%>
		</span>
	</nav>
	<div class="copyright"><span>Copyright © 2013-2014  UCDNews</span><span>Just for fun</span></div>
</footer>